@import '../stylesheets/variables.scss';

.Buttons {

  & > div {
    margin-bottom: 70px;

    h3 {
      margin-bottom: 30px;
    }

    button {
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }

  //#region breakpoints
  @media only screen and ($breakpoint-xs) {

  }

  @media only screen and ($breakpoint-sm) {

  }

  @media only screen and ($breakpoint-md) {

  }

  @media only screen and ($breakpoint-lg) {

  }
  //#endregion
}
