@import '../stylesheets/variables.scss';

.InputField {

  .svg-inline--fa {
    position: absolute;
    color: $brand-off-white;
    top: 13px;
    right: 10px;
  }


  //#region breakpoints
  @media only screen and ($breakpoint-xs) {

  }

  @media only screen and ($breakpoint-sm) {

  }

  @media only screen and ($breakpoint-md) {

  }

  @media only screen and ($breakpoint-lg) {

  }
  //#endregion
}
