@import '../stylesheets/variables.scss';

.TwoColumnPopup {
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;

  .left,
  .right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;

    &.focus {
      width: 45%;
      z-index: 2;
    }
  }

  .right {
    right: 10vw;
  }

  .left {
    left: 5vw;
  }

  .image {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
  }

  .quote {
    margin-bottom: 10px;
  }

  .quoter {
    font-weight: bold;
  }

  .job-title {
    font-weight: normal;
  }

  .testimonial-quote {
    padding: 25px;
  }

  .ShadowBox {
    width: 100%;
    font-size: $font-sm;
  }

  //.text {
  //  padding: 60px 30px;
  //  background: $brand-white;
  //  border-radius: 5px;
  //  box-shadow: 0 3px 6px rgba(217, 77, 129, 0.16), 0 3px 6px rgba(217, 77, 129, 0.23);
  //  color: $magenta;
  //}


  //#region breakpoints
  @media only screen and ($breakpoint-xs) {
    height: auto;
    display: block;

    .left,
    .right {
      width: 100%;
      position: relative;
      display: block;
      float: unset;
      left: unset;
      right: unset;
      margin: 0 auto;

      &.focus {
        width: 95%;
        position: relative;
      }
    }

    .right {
      bottom: 10vh;
    }

    .image {
      height: 40vh;
    }

    .ShadowBox {
      padding: 15px;
    }

  }

  @media only screen and ($breakpoint-xs) and (orientation : landscape) {
    .left.image {
      height: 60vh;
    }
  }

  @media only screen and ($breakpoint-sm) {

    .left,
    .right {

      &.focus {
        width: 45%;
      }
    }

    .right {
      right: 5vw;
    }
  }

  @media only screen and ($breakpoint-md) {
    .left,
    .right {

      &.focus {
        width: 45%;
      }
    }

    .left {
      left: 7vw;
    }

    .right {
      right: 5vw;
    }
  }

  @media only screen and ($breakpoint-lg) {
    .left,
    .right {

      &.focus {
        width: 45%;
      }
    }

    .left {
      left: 5vw
    }

    .right {
      right: 5vw;
    }
  }

  //#endregion
}
