@import '../stylesheets/variables.scss';

.ManageTasks {
  width: 100%;

  .side-bar {
    float: left;
    //height: 100vh;
    width: 30%;
    //width: 20%;
    padding: 40px;
  }

  .task-details {
    float: left;
    height: 100vh;
    width: 70%;
    //width: 60%;
    padding: 40px;
  }

  //#region breakpoints
  @media only screen and ($breakpoint-xs) {

  }

  @media only screen and ($breakpoint-sm) {

  }

  @media only screen and ($breakpoint-md) {

  }

  @media only screen and ($breakpoint-lg) {

  }
  //#endregion
}
