@import '../stylesheets/variables.scss';

.TaskEditor {

  .animated-checkbox {
    label {
      margin-left: 10px !important;
      //color: $brand-gray-dark;
    }

    .fa-check {
      padding: 3px 3px 2.5px;
    }

    .fa-clock {
      padding: 4px;
    }

    .fa-exclamation {
      padding: 4px;
    }


    &.pretty.p-bigger label:before,
    &.pretty.p-bigger label:after,
    &.pretty.p-bigger .icon,
    &.pretty.p-bigger .svg,
    &.pretty.p-bigger .img {
      font-size: 1.5em !important;
      top: -1px !important;
      left: 0;
      //top: calc((0% - (100% - 1em)) - 35%) !important;
    }
  }

  .label-margin {
    margin-right: 10px;
  }

  .task-item {
    margin-bottom: 15px;

    .label {
      background: $magenta;
    }
  }

  .react-datepicker-wrapper input {
    width: 225px;
  }

  .ql-editor {
    min-height: 300px;
  }

  .editor-title {
    margin: 30px 0;
  }

  .quill {
    margin-bottom: 30px;
    background: $brand-white;
  }

  .buttons {
    margin-top: 15px;
    margin-bottom: 30px;

    .col-sm-4 {
      text-align: center;
    }
  }

  .submit-btn {
    text-align: center;
  }

  .error-message {
    animation-duration: .5s;
    animation-fill-mode: both;
    z-index: -1;
    position: absolute;
    color: $danger;
    font-weight: bold;
    transform: translate3d(0, -55px, 0);
    opacity: 0;
    transition: all .25s ease-in;

    &.slide-down {
      transform: translate3d(0, -25px, 0);
      opacity: 1;
    }

    &.slide-up {
      animation-name: slideOutUp;
    }

    &.avail-msg {
      left: 50%;
      width: auto;
      transform: translate3d(-50%, -55px, 0);
      white-space: nowrap;

      &.slide-down {
        transform: translate3d(-50%, -25px, 0);
      }
    }
  }

  //#region breakpoints
  @media only screen and ($breakpoint-xs) {

  }

  @media only screen and ($breakpoint-sm) {

  }

  @media only screen and ($breakpoint-md) {

  }

  @media only screen and ($breakpoint-lg) {

  }
  //#endregion
}
