@import '../stylesheets/variables.scss';

.ParallaxBanner {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $brand-black;
  opacity: .9;

  .background {
    height: inherit;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: .5;
    position: absolute;
    z-index: -1;
    left: 0;
  }

  .content {

  }


  //#region breakpoints
  @media only screen and ($breakpoint-xxs) {
    height: 150px;

    .background {
      background-attachment: inherit; //unset doesn't work on ios  -___-
      background-attachment: unset;
    }

    .badwater {
      background-image: url('/images/badwater_350.jpg') !important;
    }

  }

  @media only screen and ($breakpoint-xs) {
    height: 150px;

    .background {
      background-attachment: inherit; //unset doesn't work on ios  -___-
      background-attachment: unset;
    }

    .badwater {
      background-image: url('/images/badwater_768.jpg');
    }

  }

  @media only screen and ($breakpoint-sm) {
    .badwater {
      background-image: url('/images/badwater_992.jpg');
    }

  }

  @media only screen and ($breakpoint-md) {
    .badwater {
      background-image: url('/images/badwater_1280.jpg');
    }

  }

  @media only screen and ($breakpoint-lg) {
    .badwater {
      background-image: url('/images/badwater_1440.jpg');
    }
  }

  @media only screen and ($breakpoint-xl) {
    .badwater {
      background-image: url('/images/badwater_1920.jpg');
    }
  }

  @media only screen and ($breakpoint-xxl) {
    .badwater {
      background-image: url('/images/badwater_3200.jpg');
    }
  }
  //#endregion
}
